*{
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    background-color:  hsl(225, 100%, 94%);
    }
 .container{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('..//order-summary-component-main/images/pattern-background-mobile.svg') no-repeat;
    background-size: 100% 50%;
    
}
.centered-el{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    z-index: 1;
    background-color: white;
    border-radius: 20px;
}
.image{
    border-radius: 20px;
    height: 200px;
    width: 100%;
}
.head{
    text-align: center;
    font-weight: 900;
    color:   hsl(223, 47%, 23%);
    margin: 0;
    margin-top: 10px;
    padding: 20px 0;
}
.summary{
    text-align: center;
    margin: 0;
    font-weight:700;
    padding: 0px 20px;
   color:  hsl(224, 23%, 55%);
   
}
.charge{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
   margin: 0 30px 40px ;
    background-color:  hsl(225, 100%, 98%);
    border-radius: 10px;
}
.change{
    font-size: 20px;
     padding: 0;
    margin: 0;
}
b{
    font-weight: 700;
}
.bold{
    color: hsl(223, 47%, 23%) ;
    font-weight: 900;
}
.interval{
    color:  hsl(224, 23%, 55%);
    font-weight: 500;
    display: inline;
    width: 150px;
    padding:0px;
}
.proceed{
    color: white;
    background-color: hsl(245, 75%, 52%);
    width:80%;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    margin:0px 10px; 
    border: none;
}
.cancel{
    color:  hsl(224, 23%, 55%);
    text-decoration: none;
    text-align: center;
    padding: 20px 0 30px;
    font-size: 20px;
    font-weight: 700;
}
.change:hover{
    cursor: pointer;
}
.proceed:hover{
    cursor: pointer;
}
.cancel:hover{
    cursor: pointer;
}

@media(max-width:900px){
   .centered-el{
        width: 60%;
    }
}
@media(max-width:500px){
body{
    margin:0;
    padding: 0;
        }
    .centered-el{
        width: 90% ;
    }
    .charge{
      padding: 5px;
        
    }
    .image{
        width: 100%;
    }
    .summary{
        padding: 0 10px;
    }
    .proceed{
        width: 90%;
      margin: 0 5%;
        height: 52px;
            }
    }

        @media(max-width:400px) {
    .music{
        width: 8px;
        height: 8px;
        padding: 0;
        margin: 0;
    }
    .interval{
        font-weight: 400;
    }
    .change{
        font-size: 15px;
    }
}      
